@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15% 50px;
    background-color: #1F2937;

    .header-logo {
        font-size: 24px;
        color: #F9FAF8;
        font-weight: bold;
    }

    .header-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 16px;
        font-size: 18px;
        color: #E5E7EB;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 16px 15% 100px;
    background-color: #1F2937;

    .hero-left {
        width: 50%;

        h1 {
            margin: 0;
            font-size: 48px;
            font-weight: 900;
            color: #F9FAF8;
            
        }

        p {
            margin: 0 0 16px 0;
            font-size:18px;
            color: #E5E7EB;
        }

        button {
            border: none;
            border-radius: 5px;
            width: 120px;
            height: 35px;
            padding: 5px 10px;
            font-size: 16px;
            font-weight: bold;
            color: #F9FAF8;
            background-color: #3882F6;
        }
    }

    .hero-right{
        display: flex;
        justify-content: right;
        width: 50%;

        .hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 200px;
            background-color: #6c6c6c;
            p {
                color: #E5E7EB
            }
        }
    }
}

.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15% 100px;

    .info-header {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
    }

    .info-items {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: min-content;
            display: flex;
            flex-flow: column wrap;
        }

        .info-image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 200px;
            height: 200px;
            border: 5px solid #3882F6;
            border-radius: 25px;
        }

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 18px;
            color: #6c6c6c;
        }
    }
}

.quote {
    display: flex;
    flex-flow: column wrap;
    padding: 100px 25% 100px;
    background-color: #E5E7EB;
    color: #1F2937;

    .quote-1 {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;
    }

    .citation-1 {
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 24px;
        font-weight: bold;
    }
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 100px 15%;

    .action-modal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 150px;
        border-radius: 10px;
        padding: 0 15%;
        background-color: #3882F6;
    }
   

    .action-modal-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 70%;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 24px;
            color: #F9FAF8;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 18px;
            color: #E5E7EB;
        }
    }

    .action-modal-right {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 30%;

        button {
            border: 2px solid #F9FAF8;
            border-radius: 5px;
            width: 120px;
            height: 35px;
            padding: 5px 10px;
            font-size: 16px;
            font-weight: bold;
            color: #F9FAF8;
            background-color: #3882F6;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;

    p {
        padding: 20px;
    }
}